* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.login-page-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Your specific L&T Hydrocarbon background */
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://2025prodstorageaccount-eqdyc8g8hpccdfez.a02.azurefd.net/ltprod/media/rlojt5xu/hydrocarbon-offshore.webp') no-repeat center center;
    background-size: cover;
}

.login-card {
    background: #ffffff;
    padding: 35px;
    border-radius: 12px;
    width: 100%;
    max-width: 380px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
    text-align: center;
}

.brand-section {
    margin-bottom: 15px;
}

.login-logo {
    width: 110px;
}

.login-header {
    font-size: 22px;
    color: #333;
    margin-bottom: 25px;
    font-weight: 600;
}

.field-wrapper {
    text-align: left;
    margin-bottom: 18px;
}

    .field-wrapper label {
        display: block;
        font-size: 13px;
        color: #666;
        margin-bottom: 6px;
    }

.input-with-icon {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
}

    .input-with-icon i {
        color: #0056b3; /* L&T Blue icon color */
        margin-right: 10px;
        font-size: 14px;
    }

    .input-with-icon input {
        border: none;
        outline: none;
        width: 100%;
        font-size: 14px;
    }

.options-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12.5px;
    margin-bottom: 25px;
}

.check-container {
    color: #555;
    cursor: pointer;
}

.forgot-pwd {
    color: #0056b3;
    text-decoration: none;
}

.btn-primary-login {
    width: 100%;
    padding: 12px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

    .btn-primary-login:hover {
        background-color: #004494;
    }
